*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-padding-top: 180px;

}

body {
    background-color: black;
    font-size: 16px;
    color: white;
}

header {
    background-color: black;
    display: flex;
    margin: -8px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0px 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    font-size: 22px;
    margin: 8px 0px;
}

nav a:hover {
    color: black;
    background-color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 100px;
}

section {
    text-align: justify;
    line-height: 30px;
    margin: 100px 20%;
}

section a:visited {
    color: white;
}

div {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -8px;
}

.parallax1 {
    background: url(../img/water.webp);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.parallax2 {
    background: url(../img/gaming.webp);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.parallax3 {
    background: url(../img/destination.webp);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

footer {
    color: white;
    background-color: rgb(48, 47, 47);
    padding: 10px 20px;
    margin:-8px;
}

footer article {
    margin: auto;
    width: 60%;
    padding: 10px;
}

footer h2 {
    text-align: center;
    font-size: 40px;
}


